body {
     background-color: rgb(151, 151, 151);
     display:flex;
     justify-content: center;
}

.main1 {
    width: 300px; 
    height: 200px;
    background-color: #421d1d; 
    border: 2px solid #3f3f3f; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0px 0px 40px rgb(255, 0, 0); 
    text-align: center;
}
